@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
    background-color: rgb(43, 42, 42);
    font-family: 'Montserrat', sans-serif;
}

#are-you-sure{
    text-align: center;
}