@import url("https://fonts.googleapis.com/css?family=Montserrat");



body {
  background: #cefaa6;
  background: linear-gradient(to right, rgb(75, 150, 64), rgb(53, 104, 56));
  font-family: 'Montserrat', sans-serif;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-img-left {
  width: 100%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://images.unsplash.com/photo-1546241072-48010ad2862c');
  
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.welcome-text {
  width: 100%;
}

.btn-signin {
  color: white;
  background-color: #01a337;
  font-weight: bold;
}

.btn-register {
  color: white;
  background-color: #015f21;
  font-weight: bold;
}

.elipsis {
  color: darkgray;
  font-size: 32px
}