<link rel="stylesheet" href="/stylesheets/sidebar.css" />
<link rel="stylesheet" href="/stylesheets/listtable.css" />
<link rel="stylesheet" href="/stylesheets/default.css" />
<div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
    <a class="s-sidebar__trigger" href="#0">
        <i class="fa fa-bars"></i>
    </a> 

    <nav class="s-sidebar__nav">
        <ul>
            <li>
            <a class="s-sidebar__nav-link">
                <i class="fa fa-user"></i><em><%= @user.email %></em>
            </a>
            </li>
            <li>
            <a class="s-sidebar__nav-link" href="/days/today">
                <i class="fa fa-clock-o"></i><em>Today</em>
            </a>
            </li>
            <li>
            <a class="s-sidebar__nav-link" href="/days">
                <i class="fa fa-calendar"></i><em>Previous Days</em>
            </a>
            </li>
            <li>
                <a class="s-sidebar__nav-link" href="/logout">
                    <i class="fa fa-sign-out"></i><em>Logout</em>
                </a>
            </li>        
        </ul>
    </nav>
    </div>

    <!-- Content -->
    <main class="s-layout__content">
        <form method="POST" action="/days/create">
            <div class="form-group" id="are-you-sure">
                <br>
                <label for="date">Create a Day</label>
                <br><br>
                <input type="date" class="form-control" name="date" aria-describedby="foodHelp" required>
                <small id="dateHelp" class="form-text text-muted">What date do you want to track?</small>
            </div>
            <br>
            <button type="submit" class="btn btn-lg btn-success btn-block text-uppercase" name="submit">Create</button>
            <a href="/days" class="btn btn-lg btn-primary btn-block text-uppercase" role="button">
                      <span>Cancel</span>
            </a>
        </form>
    </main>
</div>