Enter the details of a new food or select a previously created food to add to your day: 

<form method="POST" action="/days/<%= @day.id %>">
    <input type="text" name="food[name]" placeholder="Name"><br>
    <input type="number" name="food[portion_size]" placeholder="Portion Size"><br>
    <input type="text" name="food[portion_metric]" placeholder="Metric (ex: g, ml, oz)"><br>
    <input type="number" name="food[calories]" placeholder="Calories"><br>
    <input type="number" name="food[protein]" placeholder="Protein (in grams)"><br>
    <input type="number" name="food[carbs]" placeholder="Carbs (in grams)"><br>
    <input type="number" name="food[fat]" placeholder="Fat (in grams)"><br>

    <input type="submit" name="submit" value="Add Food">
</form>