
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<body>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body welcome-text">
            <h2 class="text-center"><strong>Welcome to Naera</strong></h2>
            <hr>
            
                <h4 class="text-center"><strong>The self-care web-app that helps you reach your health and weight goals through better eating.</strong>
                </h4>
            
            <h1 class="text-center elipsis">. . .</h1><br>
            
                <h4 class="text-center"><strong>Track what you eat with the help of our food tracker to maintain a balanced everyday life.</strong>
                </h4>
            
            <h1 class="text-center elipsis">. . .</h1><br>
    
                <h4 class="text-center"><strong>To help you reach your goals and customize your health journey you can add your favorite food items to your Favorites for easy recall.</strong>
                </h4>
            
            <hr class="my-4">
            <form class="form-signin" action="/login" method="GET">
              <button class="btn btn-lg btn-signin btn-block text-uppercase" type="submit">Sign In</button>
            </form>
            <form class="form-signin"  action="/signup" method="GET">
            <br>
              <button class="btn btn-lg btn-register btn-block text-uppercase" type="submit">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


